.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
  margin: auto;
  
}

#btn {
  border: 1px solid black;
  padding: 10px;
  font-size: large;
  background-color: green;
  outline: none;
  border-radius: 5%;
 
}
